.menu-burger {
	width: 25px;
	display: none;
}
.menu-burger-wrap {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.mob-nav {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	color: #ffffff;
	background-color: #022b70;
	opacity: 0.95;
	padding: 0px 20px 20px 20px;
	bottom: 0;
	z-index: 111;
}
.mob-nav__close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	font-weight: 500;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
.mob-nav__title {
	color: #96c9fd;
	font-size: 30px;
	padding: 20px;
	margin: 0 -20px;
	border-bottom: 1px solid rgba(226, 226, 226, 0.23);
}
.mob-nav__item {
	font-weight: 300;
	padding: 15px 0;
	font-size: 16px;
	border-bottom: 1px solid rgba(226, 226, 226, 0.23);
	color: #ffffff;
}
.mob-nav__item span	{
	font-weight: 600;
	margin-right: 10px;
}

.logo-tablet {
	display: none;
}
.descr__text-img {
	margin-top: 100px;
	width: 60px;
}
.roadmap-title-mob {
	display: none;
}
.nav-kost {
	display: none;
}
@media screen and (max-width: 1199px) {
	.nav-kost {
		display: flex;
	}
	.menu-burger {
		display: block;
	}
	.nav {
		display: none;
	}
	.btn {
		width: 320px;
		font-size: 16px;
		padding: 15px 0;
	}
	.text-right-line {
		width: auto;
	}
	.text-right-line::after {
		width: 30%;
	}
	.social-box {
		width: 93%;
	}
	.social,
	.footer .social {
		width: 33px;
		height: 33px;
	}
	.social.an,
	.footer .social.an{
		background-size: 19px 19px;
	}

	.social.an:hover,
	.footer .social.an:hover {
		background-size: 19px 19px;
	}
	.logo-tablet {
		display: block;
		width: 120px;
		margin-left: 40px;
	}
	.text_text {
		padding: 40px 20px;
	}
	.text_bg {
		font-size: 62px;
	}
	.main-text {
		margin: 35px 0;
	}
	.main-text_title {
		font-size: 30px;
	}
	.descr {
		align-items: center;
	}
	.descr__text {
		width: 30%;
	}
	.descr__image {
		width: 70%;
	}
	.block_title {
		font-size: 28px;
		padding: 20px 0;
	}
	.block_text {
		line-height: 35px;
	}
	.descr {
		margin-bottom: 100px;
	}
	.descr__text-img {
		margin-top: 0;
	}
	.whitepapper {
		justify-content: center;
		flex-wrap: wrap;
	}
	.whitepapper__item {
		width: 340px;
	}
	.table__col {
		font-size: 15px;
		word-wrap: break-word;
		padding: 15px;
	}
	.title-thr__bg {
		font-size: 48px;
	}
	.roadmap__col:not(.roadmap__progress):not(.roadmap__title) {
		padding: 10px 20px;
	}
	.roadmap__title {
		padding: 40px 20px 25px 20px;
	}
	.h4-title {
		font-size: 15px;
	}
	.h3-title {
		font-size: 18px;
	}
	.team-block-1 {
		margin-bottom: 0;
	}
	.partners a {
		padding: 20px;
	}
	.press a {
		padding: 15px;
	}
	.social-footer-box .social-box {
		margin-top: 7px;
	}

	/* MY NEW SECTION */
	.first-bg {
		position: absolute;
		top: 625px;
		background-color: #1D66B1;
		min-height: 400px;
		width: 100%;
		z-index: -1;
	}
	.first {
		flex-direction: column;
		align-items: center;
	}

	.opn {
		width: 100%;
		padding-top: 40px;
	}

	.opn__title {
		margin-bottom: 40px;
	}

	.opn__text {
		max-width: 550px;
		width: 100%;
	}

	.opn__button-group {
		margin-bottom: 40px;
	}

	.opn__list {
		max-width: 550px;
	}

	.opk {
		min-height: 400px;
		width: 100%;
		margin-top: 0;
		margin-right: 0;
		padding-top: 50px;
		padding-bottom: 0;
		background-image: none;
	}

	.opk__date {
		font-size: 12px;
	}

}
@media screen and (max-width: 767px) {
	.first-bg {
		min-height: 455px;
	}
	.nav-right {
		flex-direction: row-reverse;
	}

	.log {
		padding: 10px 12px;
		border: 1px solid transparent;
		font-weight: 500 !important;
		margin-left: 0;
		margin-right: 15px
	}

	.log:hover {
		border: 1px solid #083583;
	}

	.first-bg {
		top: 660px;
	}
	.opn {
		padding-top: 0;
	}

	.opn__button-group {
		width: 100%;
		flex-direction: column;
		align-items: center;
		margin-bottom: 0;
	}

	.opn__button {
		width: 290px;
		margin-bottom: 20px;
	}

	.opn__button--how {
		padding-right: 55px;
		text-align: right;
	}

	.opn__button--how::before {
		left: 50px;
	}

	.opn__join-text {
		display: none;
	}

	.opn__list {
		display: none;
	}

	.opn__mvp {
		display: block;
		width: 290px;
		margin: 0 auto;
		padding: 15px;
		font-size: 18px;
		line-height: 20px;
		text-align: center;
		border: 1px solid #1D66B1;
		border-radius: 5px;
	}
	.opn__mvp:hover {
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
	}

	.opk {
		padding-top: 60px;
	}
	.opk__button {
		margin-bottom: 20px;
	}

	.opk__deadline > div::after {
		right: -10px;
	}

	.opk__date span::before,
	.opk__date span::after {
		width: 50px;
	}

	.opk__join-text {
		position: relative;
		display: block;
		margin: 0;
		margin-bottom: 40px;
		font-size: 20px;
		line-height: 31px;
		text-align: center;
		color: #ffffff;
	}

	.opk__join-text::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -10px;
		width: 100%;
		height: 1px;
		background-color: #ffffff;
	}

	.opk__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
		justify-content: space-between;
	}

	.opk__item a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 35px;
		height: 30px;
		text-align: center;
	}

	.opk__icon {
		font-size: 27px;
		color: #ffffff;
	}

	.opk__icon:hover {
		color: #e23369;
	}

	.opk__item--steemit a {
		background-image: url(../images/steem-white.png);
		background-repeat: no-repeat;
		background-size: 25px 25px;
		background-position: center;
	}

	.opk__item--steemit a:hover {
		background-image: url(../images/steem-hover.png);
		background-repeat: no-repeat;
		background-size: 26px 25px;
		background-position: center;
	}

	.logo-tablet {
		display: none;
	}
	.nav-logo-mob-wrap {
		display: block;
	}
	.navbar {
		padding: 0;
		height: auto;
	}
	.nav-link {
		padding: 15px 0;
	}
	.first-screen {
		margin-top: 0;
	}
	.first-screen .color-bl {
		color: #083583;
		font-size: 36px;
		line-height: 42px;
		margin-top: 0;
		margin-bottom: 30px;
		text-align: left;
	}
	.text-box {
		width: 90%;
	}
	.text-box p {
		font-size: 24px;
		line-height: 34px;
	}
	.color-bl .mobile {
		display: block;
	}
	.open .text-box {
		margin-top: 0;
		margin-bottom: 40px;
	}
	.first-screen .btn-blue {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 320px;
		width: 100%;
		height: 80px;
		font-size: 22px;
		padding: 10px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.mvp {
		display: none;
	}
	.mvp--mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 320px;
		width: 100%;
		margin: 0;
		margin-bottom: 45px;
		height: 80px;
		font-size: 26px;
	}
	.mvp--mobile:hover {
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
	}
	.first-screen.d-flex {
		display: block!important;
	}
	.btn {
		max-width: 320px;
		width: 100%;
	}
	.btn-white-wrap {
		margin-bottom: 45px;
	}
	.btn-white-wrap .btn-white {
		max-width: 320px;
		width: 100%;
		height: 80px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		font-size: 30px;
	}
	.btn-white-wrap .hidden {
		display: none;
	}
	.pos-right {
		float: none;
	}
	.box {
		display: none;
	}
	.box-mobile {
		display: block;
	}
	.box-mobile__text {
		text-align: center;
		margin-bottom: 35px;
		font-size: 26px;
		color: #ffffff;
	}
	.social-box {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 auto;
		margin-bottom: 30px;
		width: 93%;
	}
	.social {
		width: 70px;
		height: 70px;
		margin: 0;
		margin-bottom: 15px;
		margin-right: 5px;
	}
	.social.an {
		background-size: 35px 35px;
	}
	.social.an:hover {
		background-size: 35px 35px;
	}
	.gradient h2 {
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 36px;
		line-height: 39px;
	}
	.gradient .desktop {
		display: none;
	}
	.gradient .mobile {
		display: block;
	}
	.gradient .defiz {
		display: none;
	}
	h2 {
		font-size: 26px;
	}
	.text-box-item {
		font-size: 20px;
		margin-top: 25px;
	}

	.text-box-item p {
		font-size: 36px;
	}
	.text-box-item .btn-red {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		margin: 0 auto;
		font-size: 30px;
	}
	.text-box-item .hidden {
		display: none;
	}
	.defiz {
		color: #ffffff;
	}
	.text-right-centr:after {
		display: none;
	}
	.text-right-centr {
		margin: 0;
	}
	.title {
		padding-top: 75px;
		margin-bottom: 40px;
	}
	.crumina-module.mt-5 {
		margin-top: 0 !important;
	}
	.title_text {
		font-size: 28px;
		line-height: 29px;
	}
	.main-text {
		margin-bottom: 50px;
	}
	.block_title {
		padding: 0;
		margin-bottom: 35px;
	}
	.background-contain br {
		display: none;
	}
	.title_bg {
		font-size: 90px;
		line-height: 75px;
	}
	.social-1 {
		display: none;
	}
	.main-text-wrap {
		flex-direction: column;
		align-items: flex-start;
	}
	.descr {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 50px;
	}
	.descr_reverse {
		flex-direction: column;
		margin-bottom: 0;
	}
	.funds {
		margin: 0;
		padding: 0;
	}
	.funds img {
		display: none;
	}
	.funds__list {
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.funds__item {
		padding: 40px 0;
		border-bottom: 3px dotted #8eb3d8;
		color: #1d66b1;
		font-weight: 600;
	}
	.funds__item:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	.funds__text {
		font-size: 24px;
		line-height: 29px;
	}
	.funds__item .funds__stat {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		background-image: url(../images/des/rect.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.funds__item--first .funds__stat {
		width: 100px;
		height: 80px;
		font-size: 40px;
		line-height: 45px;
		background-size: 100px 80px;
	}
	.funds__item--second .funds__stat {
		width: 130px;
		height: 110px;
		font-size: 50px;
		line-height: 55px;
		background-size: 130px 110px;
	}
	.funds__item--third .funds__stat {
		width: 175px;
		height: 150px;
		font-size: 55px;
		line-height: 60px;
		background-size: 175px 150px;
	}
	.funds__item--fourth .funds__stat {
		width: 220px;
		height: 190px;
		font-size: 70px;
		line-height: 75px;
		background-size: 220px 190px;
	}
	.funds__item--fifth .funds__stat {
		width: 240px;
		height: 210px;
		font-size: 80px;
		line-height: 85px;
		background-size: 240px 210px;
	}
	.funds__item sup {
		top: -0.2em;
		font-size: 60%;
	}
	.table-bonus {
		display: none;
	}
	.bonus__list {
		display: block;
		margin: 0;
		padding: 0;
		padding-top: 40px;
		list-style: none;
	}
	.bonus__item {
		padding-bottom: 60px;
	}
	.bonus__item:last-child {
		padding-bottom: 0;
	}
	.bonus__item-title {
		margin: 0;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 36px;
		color: #1d66b1;
	}
	.bonus__item-title span {
		display: block;
		font-size: 20px;
		line-height: 24px;
		color: #9AACB8;
	}
	.bonus__table {
		width: 100%;
	}
	.bonus__table tr:nth-child(odd) {
		background-color: #DCE2E6;
	}
	.bonus__table-cell {
		padding: 14px 25px;
		font-size: 24px;
		line-height: 24px;
		text-align: left;
		border-radius: 0 5px 5px 0;
	}
	.bonus__table-cell--big {
		border-right: 1px dotted #9AACB8;
		border-radius: 5px 0 0 5px;
	}
	.main-text_title {
		text-align: left;
		width: auto;
		margin-right: 0;
	}
	.main-text_desc {
		width: auto;
	}
	.text_bg {
		display: none;
		line-height: 100px;
	}
	.main-text_desc .block_text {
		padding: 0;
		margin: 0;
	}
	.descr__text {
		width: auto;
	}
	.descr_text {
		max-width: 700px;
		width: 100%;
	}
	.descr__text-img {
		width: 220px;
		display: block;
		margin: 0 auto;
		margin-bottom: 55px;
	}
	.descr__text-img--close {
		width: 175px;
		display: block;
		margin: 0;
		margin-right: auto;
		margin-bottom: 55px;
	}
	.descr__image {
		width: auto;
	}
	.descr .block_title {
		padding: 0;
	}
	.title-thr {
		padding-bottom: 0;
	}
	.title-thr__bg {
		display: none;
		font-size: 37px;
		line-height: 58px;
	}
	.block_text {
		margin: 0 0 40px;
	}
	.table__row {
		flex-direction: column;
	}
	.table__col {
		width: auto;
		padding: 10px 30px;
		font-size: 20px;
		line-height: 26px;
		border-right: 0;
	}
	.table__col:nth-child(even) {
		background-color: #f4f7fb;
		border-radius: 5px;
	}
	.table__row {
		position: relative;
		padding: 45px 0;
	}
	.table__row:not(:last-of-type)::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -2px;
		max-width: 767px;
		width: 100%;
		height: 1px;
		border-bottom: 3px dotted #dde8f3;
	}
	.table__row:last-of-type {
		padding-bottom: 0;
	}
	.table__row_gray {
		background-color: transparent;
	}
	.whitepapper {
		flex-direction: column;
		align-items: center;
	}
	.whitepapper__item {
		max-width: 600px;
		width: 100%;
		padding: 0;
		padding-bottom: 50px;
		text-align: center;
	}
	.whitepapper__item:last-of-type {
		padding-bottom: 0;
	}
	.whitepapper__text {
		padding-bottom: 15px;
		font-size: 20px;
		line-height: 30px;
	}
	.roadmap__row1, .roadmap__row2, .roadmap__row3 {
		display: none;
	}
	.roadmap__row4 {
		flex-direction: column;
	}
	.roadmap-title-mob {
		display: block;
	}
	.roadmap-title-mob .roadmap__title {
		padding: 0;
		font-size: 20px;
	}
	.roadmap-title-mob .roadmap__col {
		margin-bottom: 0;
		border-radius: 0;
	}
	.sub-title {
		margin: 15px 0;
		font-size: 20px;
		line-height: 22px;
		font-weight: bold;
	}
	.roadmap__col--first .sub-title {
		color: #5691C1;
	}
	.roadmap__col--second .sub-title {
		color: #7CAEEA;
	}
	.roadmap__col--third .sub-title {
		color: #767CBB;
	}
	.roadmap__col--fourth .sub-title {
		color: #4ABED2;
	}
	.roadmap__col {
		width: auto;
		margin-bottom: 40px;
		padding: 15px 20px 15px !important;
		padding-right: 5px;
		background-color: #f5f6f8;
		border-radius: 5px;
	}
	.roadmap__col.bg_gray {
		background-color: #E5E8EA;
	}
	.bg_gray--col {
		background-color: #E5E8EA;
	}
	.roadmap__col.bg_gray--now {
		position: relative;
	}
	.roadmap__col.bg_gray--now::before {
		content: "";
		position: absolute;
		top: -20px;
		left: 20px;
		width: 42px;
		height: 37px;
		background-image: url(../images/des/now.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.roadmap__col:last-of-type {
		margin-bottom: 0;
	}
	.roadmap__list {
		font-size: 20px;
		line-height: 24px;
	}
	.token-sale-str {
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.token-sale-str__item {
		width: 100%;
		margin: 0;
		margin-bottom: 15px;
		padding: 15px;
		background-color: #DCE2E6;
		border: none;
	}
	.token-sale-str .h4-title {
		margin-bottom: 0;
		font-size: 20px;
		line-height: 22px;
	}
	.token-sale-str .h3-title {
		margin-bottom: 0;
		font-size: 24px;
		line-height: 26px;
	}
	.token-sale-str br {
		display: none;
	}
	.mob-db {
		display: none;
	}
	.member-photo {
		height: auto;
	}
	.team-block .col {
		max-width: 350px;
		width: 100%;
		flex-basis: inherit;
		flex-grow: inherit;
	}
	.operation-team {
		margin-top: 40px;
	}
	.team-block-1 p.member-progress {
		min-height: 0;
	}
	.member_bottom {
		width: 100%;
		height: auto;
		margin-bottom: 60px;
	}
	.member_bottom .gorizontal-line {
		border-top: 1px solid #24D0DB;
		margin: 0;
	}
	.gorizontal-line {
		height: 25px;
	}
	.icon_company {
		width: 230px;
	}
	.partners {
		flex-direction: column;
	}
	.partners a {
		padding: 30px;
	}
	.partners img {
		width: 230px;
	}
	.press {
		flex-direction: column;
		align-items: center;
		padding-bottom: 60px;
	}
	.press a {
		margin-bottom: 40px;
	}
	.press a:last-child {
		margin-bottom: 0;
	}
	.btn-whitepapper-wrap {
		display: block;
		max-width: 290px;
		width: 100%;
		margin: 0 auto;
	}
	.btn-whitepapper img {
		 margin-left: 0;
	 }
	.btn-whitepapper {
		height: 80px;
		padding: 15px 20px;
		font-size: 20px;
		line-height: 14px;
	}
	.btn-whitepapper:hover {
		border: none;
		padding: 15px 21px;
	}
	.btn-whitepapper__text {
		font-size: 26px;
	}
	.core-team .title-thr {
		padding-bottom: 40px;
	}
	.team-block-2 {
		margin-bottom: 0;
	}
	.team-block .member-name {
		margin-top: 20px;
		margin-bottom: 0;
		font-size: 26px;
		line-height: 30px;
		font-weight: 600;
		color: #273655;
	}
	.team-block .member-position {
		margin-bottoM: 5px;
		font-size: 24px;
		line-height: 30px;
		font-weight: 400;
		color: #273655;
	}
	.team-block .member-country {
		font-size: 20px;
		line-height: 30px;
	}
	.team-block .member-progress {
		text-align: center;
		font-size: 20px;
		line-height: 30px;
	}
	.team-block-4 .col:last-child {
		padding-bottom: 0;
	}
	.linkedin_icon {
		width: 50px;
		height: 50px;
	}
	.team__img-country {
		width: 50px;
		height: 50px;
	}
	.verified {
		background: #ffffff;
		-webkit-box-shadow: -1px -3px 5px -2px rgba(74,184,116,0.81);
		-moz-box-shadow: -1px -3px 5px -2px rgba(74,184,116,0.81);
		box-shadow: -1px -3px 5px -2px rgba(74,184,116,0.81);
		width: 100%;
		left: 0;
		bottom: 0;
		padding: 5px;
		text-align: center;
	}
	.verified img {
		width: 100px;
	}
	footer {
		margin-bottom: 40px;
		background: #2ce1dc; /* Old browsers */
		background: -moz-linear-gradient(left, #2ce1dc 0%, #0183d5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #2ce1dc 0%, #0183d5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #2ce1dc 0%, #0183d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ce1dc', endColorstr='#0183d5', GradientType=0); /* IE6-9 */
	}
	footer .logo-box img {
		width: 220px;
	}
	.link-box a {
		font-size: 22px;
		line-height: 32px;
	}
	.copyright-box {
		display: none;
	}
	.copyright-box--mobile {
		display: block;
		margin-top: 40px;
		font-size: 16px;
		line-height: 22px;
	}
	.contact-box {
		margin-bottom: 25px;
	}
	.contact-box .title-span,
	.adress-box .title-span {
		font-size: 22px;
		line-height: 28px;
	}
	.contact-box a,
	.adress-box .adress-text-span {
		font-size: 18px;
		line-height: 25px;
	}
	.footer-container-3 {
		width: 100%;
	}
	.footer-container-3-wrapper {
		width: 100%;
		text-align: left;
	}
}

@media screen and (max-width: 575px) {
	.text-box {
		width: 100%;
	}
}

@media screen and (max-width: 479px) {
	.social-box {
		justify-content: space-between;
		margin-bottom: 15px;
	}
	.social {
		margin-right: 0;
		margin-bottom: 35px;
	}
	.first-bg {
		top: 670px;
	}
	.opn__title {
		font-size: 32px;
		margin-bottom: 25px;
	}

	.opn__text {
		font-size: 16px;
		margin-bottom: 25px;
	}
	.opk {
		padding-top: 75px;
	}
}

@media screen and (max-width: 369px) {
	.first-bg {
		top: 710px;
		min-height: 600px;
	}

	.opk {
		display: block;
	}

	.opk__deadline > div {
		width: 58px;
	}

	.opk__deadline > div::after {
		right: -15px;
	}

	.opk__list {
		justify-content: space-around;
	}

	.opk__item a {
		align-items: center;
		width: 80px;
		margin-bottom: 20px;
	}
}